body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

#top {
    position: relative;
    background-color: #FFCCE1;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}
.navbar {
    display: flex; 
    justify-content: center; 
    gap: 20px; 
    background-color: #E195AB; 
    padding: 10px; 
}

.navbar p\:link {
    color: white;
    text-decoration: none;
    font-size: 16px; 
    padding: 5px 10px; 
}

.navbar p\:link:hover {
    text-decoration: underline; 
}
/* Ajustes adicionales para el carrusel */
.carousel {
    display: flex;
    overflow-x: auto; /* Para el desplazamiento horizontal */
    width: 100%; /* Ocupa toda la pantalla */
    white-space: nowrap; /* Evita que los ítems se desbordaren */
}

.carousel-item {
    display: inline-block;
    width: 300px; /* Ancho de cada ítem */
    margin-right: 10px; /* Espacio entre ítems */
    background-color: #f2f2f2; /* Color de fondo para cada ítem */
    padding: 15px;
    box-sizing: border-box; /* Asegura que el padding y el borde no afecten el ancho */
    border-radius: 5px;
    text-align: center;
    /* Ajusta el tamaño de texto y demás para mejorar la visibilidad */
    font-size: 14px;
}

.carousel-item h3 {
    font-size: 18px; /* Aumenta el tamaño del título */
    margin-bottom: 10px;
}

.carousel-item p {
    font-size: 14px; /* Ajusta el tamaño del texto descriptivo */
}